"battle": {
    "distance": 1, // дистанция атаки
    "defaultChance": 10, // изначальный шанс убийства %
    "attackChanceRatio": 2, // во сколько раз уменьшается шанс убийства при нахождении защищающегося юнита в режиме атаки
    "defenceChanceRatio": 5 // во сколько раз уменьшается шанс убийства при нахождении защищающегося юнита в режиме защиты
}